body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:36px;
  top:35px;
  width:844px;
  height:515px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:515px;
}
#u1 {
  position:absolute;
  left:2px;
  top:250px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:53px;
  top:49px;
  width:236px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:53px;
  top:65px;
  width:777px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:760px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:777px;
  height:2px;
}
#u5 {
  position:absolute;
  left:53px;
  top:84px;
  width:777px;
  height:436px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:436px;
}
#u6 {
  position:absolute;
  left:2px;
  top:210px;
  width:773px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:376px;
  top:445px;
  width:94px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:80px;
  top:191px;
  width:310px;
  height:180px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:180px;
}
#u9 {
  position:absolute;
  left:2px;
  top:82px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:470px;
  top:191px;
  width:310px;
  height:180px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:180px;
}
#u11 {
  position:absolute;
  left:2px;
  top:82px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:94px;
  width:173px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:80px;
  top:120px;
  width:129px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:80px;
  top:165px;
  width:112px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:470px;
  top:165px;
  width:86px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:90px;
  top:210px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:180px;
  top:210px;
  width:86px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:90px;
  top:235px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:180px;
  top:235px;
  width:86px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:90px;
  top:260px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:180px;
  top:260px;
  width:86px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:90px;
  top:286px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:180px;
  top:286px;
  width:86px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:90px;
  top:311px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:180px;
  top:311px;
  width:86px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:90px;
  top:337px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:180px;
  top:337px;
  width:86px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:490px;
  top:210px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:580px;
  top:210px;
  width:71px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:490px;
  top:234px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:580px;
  top:234px;
  width:71px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:490px;
  top:260px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:580px;
  top:260px;
  width:71px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:490px;
  top:286px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:580px;
  top:286px;
  width:71px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:490px;
  top:310px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:580px;
  top:310px;
  width:71px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:490px;
  top:336px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:580px;
  top:336px;
  width:71px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
