body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:198px;
  width:560px;
  height:122px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:122px;
}
#u1 {
  position:absolute;
  left:2px;
  top:53px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:768px;
}
#u4 {
  position:absolute;
  left:2px;
  top:376px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:540px;
  top:570px;
  width:200px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:540px;
  top:190px;
  width:200px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u8 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:190px;
  top:164px;
  width:126px;
  height:16px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:180px;
  top:200px;
  width:200px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u12 {
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:180px;
  top:210px;
  width:200px;
  height:100px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:180px;
  top:190px;
  width:580px;
  height:490px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:490px;
}
#u16 {
  position:absolute;
  left:2px;
  top:237px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:41px;
  top:160px;
  width:70px;
  height:16px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:10px;
  top:183px;
  width:172px;
  height:105px;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:22px;
  top:0px;
  width:109px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:20px;
}
#u24 {
  position:absolute;
  left:3px;
  top:2px;
  width:104px;
  white-space:nowrap;
}
#u20_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:22px;
  top:0px;
  width:107px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u29 {
  position:absolute;
  left:3px;
  top:2px;
  width:102px;
  white-space:nowrap;
}
#u25_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:127px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:105px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:20px;
  top:60px;
  width:134px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:112px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:107px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:20px;
  top:80px;
  width:139px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:117px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:112px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:290px;
  width:172px;
  height:185px;
}
#u39_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:22px;
  top:0px;
  width:96px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u44 {
  position:absolute;
  left:3px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u40_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45 {
  position:absolute;
  left:20px;
  top:20px;
  width:91px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:69px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:3px;
  width:64px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:40px;
  width:135px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:113px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:3px;
  width:108px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:20px;
  top:60px;
  width:91px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:22px;
  top:0px;
  width:69px;
  height:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
}
#u53 {
  position:absolute;
  left:3px;
  top:3px;
  width:64px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:20px;
  top:80px;
  width:106px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u56 {
  position:absolute;
  left:3px;
  top:3px;
  width:79px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:20px;
  top:100px;
  width:109px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:22px;
  top:0px;
  width:87px;
  height:20px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
}
#u59 {
  position:absolute;
  left:3px;
  top:3px;
  width:82px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:20px;
  top:120px;
  width:147px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:22px;
  top:0px;
  width:125px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u62 {
  position:absolute;
  left:3px;
  top:3px;
  width:120px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:20px;
  top:140px;
  width:94px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:22px;
  top:0px;
  width:72px;
  height:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u65 {
  position:absolute;
  left:3px;
  top:3px;
  width:67px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:160px;
  width:94px;
  height:20px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u67 {
  position:absolute;
  left:22px;
  top:0px;
  width:72px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u68 {
  position:absolute;
  left:3px;
  top:3px;
  width:67px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:190px;
  top:330px;
  width:200px;
  height:100px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u70 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:190px;
  top:190px;
  width:560px;
  height:480px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:480px;
}
#u72 {
  position:absolute;
  left:2px;
  top:232px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:200px;
  top:200px;
  width:193px;
  height:15px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:198px;
  top:237px;
  width:43px;
  height:15px;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:190px;
  top:210px;
  width:560px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:543px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:560px;
  height:1px;
}
#u78 {
  position:absolute;
  left:197px;
  top:420px;
  width:553px;
  height:170px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
  font-size:11px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:245px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:249px;
  top:0px;
  width:57px;
  height:48px;
  font-size:10px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u81_img.mouseOver {
}
#u81.mouseOver {
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:53px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:306px;
  top:0px;
  width:57px;
  height:48px;
  font-size:10px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:48px;
}
#u83_img.mouseOver {
}
#u83.mouseOver {
}
#u84 {
  position:absolute;
  left:2px;
  top:18px;
  width:53px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:363px;
  top:0px;
  width:62px;
  height:48px;
  font-size:10px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:48px;
}
#u85_img.mouseOver {
}
#u85.mouseOver {
}
#u86 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:425px;
  top:0px;
  width:62px;
  height:48px;
  font-size:10px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:48px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:487px;
  top:0px;
  width:61px;
  height:48px;
  font-size:10px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:48px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:57px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:48px;
  width:249px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:249px;
  top:48px;
  width:57px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:306px;
  top:48px;
  width:57px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:363px;
  top:48px;
  width:62px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:425px;
  top:48px;
  width:62px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:487px;
  top:48px;
  width:61px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:78px;
  width:249px;
  height:30px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:249px;
  top:78px;
  width:57px;
  height:30px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:306px;
  top:78px;
  width:57px;
  height:30px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:363px;
  top:78px;
  width:62px;
  height:30px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:425px;
  top:78px;
  width:62px;
  height:30px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:487px;
  top:78px;
  width:61px;
  height:30px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:108px;
  width:249px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:245px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:249px;
  top:108px;
  width:57px;
  height:30px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:306px;
  top:108px;
  width:57px;
  height:30px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:363px;
  top:108px;
  width:62px;
  height:30px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:425px;
  top:108px;
  width:62px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:487px;
  top:108px;
  width:61px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:138px;
  width:249px;
  height:27px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:245px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:249px;
  top:138px;
  width:57px;
  height:27px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:306px;
  top:138px;
  width:57px;
  height:27px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:27px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:363px;
  top:138px;
  width:62px;
  height:27px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:425px;
  top:138px;
  width:62px;
  height:27px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:487px;
  top:138px;
  width:61px;
  height:27px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:27px;
}
#u138 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:200px;
  top:635px;
  width:100px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:190px;
  top:625px;
  width:560px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:543px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:560px;
  height:1px;
}
#u141 {
  position:absolute;
  left:440px;
  top:586px;
  width:55px;
  height:13px;
  font-size:10px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:13px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:467px;
  top:475px;
  width:20px;
  height:16px;
}
#u144 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u145 {
  position:absolute;
  left:467px;
  top:504px;
  width:20px;
  height:16px;
}
#u146 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  position:absolute;
  left:528px;
  top:475px;
  width:20px;
  height:16px;
}
#u148 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u149 {
  position:absolute;
  left:528px;
  top:504px;
  width:20px;
  height:16px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:587px;
  top:475px;
  width:20px;
  height:16px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:587px;
  top:504px;
  width:20px;
  height:16px;
}
#u154 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u155 {
  position:absolute;
  left:647px;
  top:475px;
  width:20px;
  height:16px;
}
#u156 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u157 {
  position:absolute;
  left:647px;
  top:504px;
  width:20px;
  height:16px;
}
#u158 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u159 {
  position:absolute;
  left:717px;
  top:475px;
  width:20px;
  height:16px;
}
#u160 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u161 {
  position:absolute;
  left:717px;
  top:504px;
  width:20px;
  height:16px;
}
#u162 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u163 {
  position:absolute;
  left:198px;
  top:265px;
  width:60px;
  height:15px;
  font-size:12px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:201px;
  top:351px;
  width:63px;
  height:15px;
  font-size:12px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:300px;
  top:350px;
  width:100px;
  height:16px;
}
#u168 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u167_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u169 {
  position:absolute;
  left:380px;
  top:350px;
  width:100px;
  height:16px;
}
#u170 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u169_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u171 {
  position:absolute;
  left:197px;
  top:390px;
  width:141px;
  height:15px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:15px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u173 {
  position:absolute;
  left:190px;
  top:400px;
  width:560px;
  height:10px;
}
#u173_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_end {
  position:absolute;
  left:543px;
  top:-5px;
  width:18px;
  height:20px;
}
#u173_line {
  position:absolute;
  left:0px;
  top:5px;
  width:560px;
  height:1px;
}
#u174 {
  position:absolute;
  left:467px;
  top:454px;
  width:20px;
  height:16px;
}
#u175 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u176 {
  position:absolute;
  left:527px;
  top:454px;
  width:20px;
  height:16px;
}
#u177 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u178 {
  position:absolute;
  left:587px;
  top:454px;
  width:20px;
  height:16px;
}
#u179 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u180 {
  position:absolute;
  left:647px;
  top:454px;
  width:20px;
  height:16px;
}
#u181 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u182 {
  position:absolute;
  left:717px;
  top:454px;
  width:20px;
  height:16px;
}
#u183 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184 {
  position:absolute;
  left:300px;
  top:230px;
  width:195px;
  height:22px;
}
#u184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u184_input:disabled {
  color:grayText;
}
#u185 {
  position:absolute;
  left:670px;
  top:586px;
  width:62px;
  height:14px;
  font-size:11px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:467px;
  top:534px;
  width:20px;
  height:16px;
}
#u188 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u189 {
  position:absolute;
  left:528px;
  top:534px;
  width:20px;
  height:16px;
}
#u190 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u191 {
  position:absolute;
  left:587px;
  top:534px;
  width:20px;
  height:16px;
}
#u192 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u193 {
  position:absolute;
  left:647px;
  top:534px;
  width:20px;
  height:16px;
}
#u194 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u195 {
  position:absolute;
  left:717px;
  top:564px;
  width:20px;
  height:16px;
}
#u196 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u197 {
  position:absolute;
  left:467px;
  top:564px;
  width:20px;
  height:16px;
}
#u198 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u199 {
  position:absolute;
  left:528px;
  top:564px;
  width:20px;
  height:16px;
}
#u200 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u201 {
  position:absolute;
  left:587px;
  top:564px;
  width:20px;
  height:16px;
}
#u202 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u203 {
  position:absolute;
  left:647px;
  top:564px;
  width:20px;
  height:16px;
}
#u204 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u205 {
  position:absolute;
  left:717px;
  top:534px;
  width:20px;
  height:16px;
}
#u206 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u207 {
  position:absolute;
  left:300px;
  top:262px;
  width:432px;
  height:78px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:78px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
